*,
*::after,
*::before {
    box-sizing: border-box;
}

.gallery-ul {
    margin: auto;
    padding: 0;
    width: 100%;
    column-count: 5;
}

.gallery-image {
    list-style: none;
    height: min-content;
}